@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  --clr-accent: rgb(228, 15, 175);
  --text-clr-dark: #333;
  --text-clr-light: #fafafa;
}

/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* GENERAL STLING & UTILITIES */
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
}

.container {
  width: 70%;
  max-width: 1600px;
  margin: 0 auto;
}

main {
  margin-bottom: 1rem;
}

/* TYPOGRAPHY */
h1,
h2,
p,
a,
small {
  color: var(--text-clr-dark);
}

a {
  text-decoration: none;
}

h1 {
  font-size: 4rem;
  margin-bottom: 0rem;
  margin-top: 1.3rem;
}

.highlight {
  background-color: var(--clr-accent);
  border-radius: 2px;
  padding: 0.1em;
}

.bold {
  font-weight: 700;
}

/* NAVBAR */
nav {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  height: 8vh;
}

ul {
  display: flex;
  align-items: center;
}

li {
  list-style: none;
  margin-right: 3rem;
}

nav a {
  color: var(--text-clr-dark);
  text-decoration: none;
  font-size: 1.4rem;
}

.active {
  border-bottom: 8px solid var(--clr-accent);
}

/* HOME AND PROJECT PAGE */
.home-container,
.project-container {
  display: flex;
  width: 60%;
  flex-direction: column;
  align-items: flex-start;
}

.project {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.project-title {
  margin-bottom: 0.5rem;
}

.project-description {
  margin-top: 0;
  margin-bottom: 0;
}

.buttons {
  margin-top: 0.5rem;
  max-width: 380px;
  display: flex;
  justify-content: space-between;
}

.btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-clr-dark);
  cursor: pointer;
  font-weight: 700;
  padding: 0.8em 1.2em;
  width: 180px;
  font-size: 1rem;
  margin-right: 20px;
  border-radius: 1px;
}

.btn-primary {
  background-color: var(--clr-accent);
  color: var(--text-clr-light);
}

.btn-secondary {
  background-color: var(--text-clr-light);
  color: var(--clr-accent);
  border: 3px solid var(--clr-accent);
}

/* Animations */
a.floating {
  position: relative;
  transition: 0.3s ease-out;
}

a.floating:hover {
  margin-top: -3px;
  margin-bottom: 3px;
}

.link:hover {
  border-bottom: 8px solid var(--clr-accent);
  transition: ease-in 0.1s;
}
